In [7]:
import pandas as pd

train = pd.read_csv('train.csv')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, VotingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score

%matplotlib inline

train.info(), train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8030 non-null   int64
 1   Surname             8030 non-null   object
 2   CreditScore         7603 non-null   float64
 3   Geography           8030 non-null   object
 4   Gender              7607 non-null   object
 5   Age                 7588 non-null   float64
 6   Tenure              8030 non-null   int64
 7   Balance             8030 non-null   float64
 8   NumOfProducts       8030 non-null   int64
 9   HasCrCard           8030 non-null   object
 10  IsActiveMember      7628 non-null   object
 11  EstimatedSalary     7664 non-null   float64
 12  Complain            8030 non-null   object
 13  Satisfaction Score  8030 non-null   int64
 14  Card Type           8030 non-null   object
 15  Point Earned        8030 non-null   int64
 16  Exited              8030 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 1.0+ MB

(None,
    ID    Surname  CreditScore Geography  Gender   Age  Tenure    Balance  \
 0   1     Martin        727.0     Spain    Male  38.0       2   62276.99
 1   2  Chinweuba        529.0    France  Female  29.0       8       0.00
 2   3      Clapp        589.0    France  Female  50.0       4       0.00
 3   4       Boni        515.0    France    Male  40.0       0  109542.29
 4   5   Jamieson        528.0     Spain    Male  43.0       7   97473.87

    NumOfProducts HasCrCard IsActiveMember  EstimatedSalary Complain  \
 0              1       Yes            Yes         59280.79       No
 1              2       Yes            NaN         19842.11       No
 2              2        No            Yes        182076.97       No
 3              1       Yes            Yes        166370.81       No
 4              2       Yes            Yes        159823.16       No

    Satisfaction Score Card Type  Point Earned  Exited
 0                   4   DIAMOND           757       0
 1                   3    SILVER           476       0
 2                   4  PLATINUM           441       0
 3                   5      GOLD           312       0
 4                   3  PLATINUM           654       0  )

In [8]:
train = pd.read_csv('train.csv')

train.head()

,ID,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,Exited
0,1,Martin,727.0,Spain,Male,38.0,2,62276.99,1,Yes,Yes,59280.79,No,4,DIAMOND,757,0
1,2,Chinweuba,529.0,France,Female,29.0,8,0.00,2,Yes,NaN,19842.11,No,3,SILVER,476,0
2,3,Clapp,589.0,France,Female,50.0,4,0.00,2,No,Yes,182076.97,No,4,PLATINUM,441,0
3,4,Boni,515.0,France,Male,40.0,0,109542.29,1,Yes,Yes,166370.81,No,5,GOLD,312,0
4,5,Jamieson,528.0,Spain,Male,43.0,7,97473.87,2,Yes,Yes,159823.16,No,3,PLATINUM,654,0

In [9]:
test = pd.read_csv('test.csv')
test.head()

,ID,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned
0,2001,Ugonna,693,Germany,Male,44,5,124601.58,2,Yes,Yes,46998.13,Yes,2,SILVER,408
1,2002,Nebeolisa,607,Germany,Male,29,7,102609.00,1,Yes,No,163257.44,No,5,DIAMOND,800
2,2003,Tsai,689,Spain,Male,73,1,108555.07,1,No,Yes,167969.15,No,1,PLATINUM,623
3,2004,Downie,660,France,Female,38,5,110570.78,2,Yes,No,195906.59,No,1,SILVER,472
4,2005,Morehead,503,France,Male,38,1,0.00,2,Yes,Yes,95153.24,No,2,DIAMOND,433

In [10]:
print(f'Train columns: {train.columns}')
print(f'Test columns: {test.columns}')

Train columns: Index(['ID', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Complain', 'Satisfaction Score', 'Card Type',
       'Point Earned', 'Exited'],
      dtype='object')
Test columns: Index(['ID', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Complain', 'Satisfaction Score', 'Card Type',
       'Point Earned'],
      dtype='object')

In [11]:
print(train.head())

   ID    Surname  CreditScore Geography  Gender   Age  Tenure    Balance  \
0   1     Martin        727.0     Spain    Male  38.0       2   62276.99
1   2  Chinweuba        529.0    France  Female  29.0       8       0.00
2   3      Clapp        589.0    France  Female  50.0       4       0.00
3   4       Boni        515.0    France    Male  40.0       0  109542.29
4   5   Jamieson        528.0     Spain    Male  43.0       7   97473.87

   NumOfProducts HasCrCard IsActiveMember  EstimatedSalary Complain  \
0              1       Yes            Yes         59280.79       No
1              2       Yes            NaN         19842.11       No
2              2        No            Yes        182076.97       No
3              1       Yes            Yes        166370.81       No
4              2       Yes            Yes        159823.16       No

   Satisfaction Score Card Type  Point Earned  Exited
0                   4   DIAMOND           757       0
1                   3    SILVER           476       0
2                   4  PLATINUM           441       0
3                   5      GOLD           312       0
4                   3  PLATINUM           654       0

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8030 entries, 0 to 8029
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8030 non-null   int64
 1   Surname             8030 non-null   object
 2   CreditScore         7603 non-null   float64
 3   Geography           8030 non-null   object
 4   Gender              7607 non-null   object
 5   Age                 7588 non-null   float64
 6   Tenure              8030 non-null   int64
 7   Balance             8030 non-null   float64
 8   NumOfProducts       8030 non-null   int64
 9   HasCrCard           8030 non-null   object
 10  IsActiveMember      7628 non-null   object
 11  EstimatedSalary     7664 non-null   float64
 12  Complain            8030 non-null   object
 13  Satisfaction Score  8030 non-null   int64
 14  Card Type           8030 non-null   object
 15  Point Earned        8030 non-null   int64
 16  Exited              8030 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 1.0+ MB

In [13]:
train.describe()

,ID,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Satisfaction Score,Point Earned,Exited
count,8030.000000,7603.000000,7588.000000,8030.000000,8030.000000,8030.000000,7664.000000,8030.000000,8030.000000,8030.000000
mean,4015.500000,650.572932,38.834212,4.997509,76760.274842,1.530386,99789.518316,3.019054,604.522540,0.199502
std,2318.205664,96.677445,10.553106,2.895015,62436.537619,0.580551,57475.475959,1.409365,226.282724,0.399651
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,91.750000,1.000000,119.000000,0.000000
25%,2008.250000,583.000000,32.000000,3.000000,0.000000,1.000000,50488.107500,2.000000,408.000000,0.000000
50%,4015.500000,651.000000,37.000000,5.000000,97562.950000,1.000000,100088.080000,3.000000,602.000000,0.000000
75%,6022.750000,717.000000,44.000000,7.000000,127849.000000,2.000000,149185.215000,4.000000,799.000000,0.000000
max,8030.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,199992.480000,5.000000,1000.000000,1.000000

In [14]:
train.isnull().sum()

ID                      0
Surname                 0
CreditScore           427
Geography               0
Gender                423
Age                   442
Tenure                  0
Balance                 0
NumOfProducts           0
HasCrCard               0
IsActiveMember        402
EstimatedSalary       366
Complain                0
Satisfaction Score      0
Card Type               0
Point Earned            0
Exited                  0
dtype: int64

In [15]:
train.duplicated().sum()

0

 Exploratory Data Analysis (EDA)

In [16]:
train['Gender'].fillna(train['Gender'].mode()[0], inplace=True)
train['IsActiveMember'].fillna(train['IsActiveMember'].mode()[0], inplace=True)

In [17]:
numeric = train.select_dtypes(include=['float64', 'int64'])

In [18]:

numerical_cols = [var for var in train.columns if train[var].dtype != 'object'] # get the numerical columns
categorical_cols = [var for var in train.columns if train[var].dtype == 'object'] # get the categorical columns

print('Numerical columns:')
print(numerical_cols)

Numerical columns:
['ID', 'CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary', 'Satisfaction Score', 'Point Earned', 'Exited']

In [22]:
from pandas import to_numeric
from sklearn.impute import KNNImputer


imputer = KNNImputer(n_neighbors=2)
imputed = imputer.fit_transform(numeric.apply(to_numeric))

In [23]:
imputed = pd.DataFrame(imputed, columns= numeric.columns)

In [24]:
train[numeric.columns] = imputed

In [25]:
train.isnull().sum()

ID                    0
Surname               0
CreditScore           0
Geography             0
Gender                0
Age                   0
Tenure                0
Balance               0
NumOfProducts         0
HasCrCard             0
IsActiveMember        0
EstimatedSalary       0
Complain              0
Satisfaction Score    0
Card Type             0
Point Earned          0
Exited                0
dtype: int64

In [29]:
categorical_cols = train.select_dtypes(include=['object']).columns.tolist()

print(categorical_cols)

['Surname', 'Geography', 'Gender', 'HasCrCard', 'IsActiveMember', 'Complain', 'Card Type']

In [32]:
train['Gender'] = train['Gender'].map({'Male': 0, 'Female': 1})
train['HasCrCard'] = train['HasCrCard'].map({'No': 0, 'Yes': 1})
train['IsActiveMember'] = train['IsActiveMember'].map({'No': 0, 'Yes': 1})
train['Complain'] = train['Complain'].map({'No': 0, 'Yes': 1})

In [34]:
label_encoders = {}
for col in categorical_cols:
    if train[col].dtype == 'object':
        le = LabelEncoder()
        train[col] = le.fit_transform(train[col])
        test[col] = le.transform(test[col])
        label_encoders[col] = le

In [50]:
from sklearn.preprocessing import LabelEncoder

label_encoder_geo = LabelEncoder()
label_encoder_card = LabelEncoder()

train['Geography'] = label_encoder_geo.fit_transform(train['Geography'])
train['Card Type'] = label_encoder_card.fit_transform(train['Card Type'])

In [52]:
test['Geography'] = label_encoder_geo.transform(test['Geography'])
test['Card Type'] = label_encoder_card.transform(test['Card Type'])

In [56]:
train

,ID,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,Exited
0,1.0,1518,727.0,2,0,38.0,2.0,62276.99,1.0,1,1,59280.79,0,4.0,0,757.0,0.0
1,2.0,479,529.0,0,1,29.0,8.0,0.00,2.0,1,1,19842.11,0,3.0,3,476.0,0.0
2,3.0,513,589.0,0,1,50.0,4.0,0.00,2.0,0,1,182076.97,0,4.0,2,441.0,0.0
3,4.0,259,515.0,0,0,40.0,0.0,109542.29,1.0,1,1,166370.81,0,5.0,1,312.0,0.0
4,5.0,1178,528.0,2,0,43.0,7.0,97473.87,2.0,1,1,159823.16,0,3.0,2,654.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8025,8026.0,1454,490.0,1,0,41.0,0.0,139659.04,1.0,1,1,176254.12,0,5.0,3,312.0,0.0
8026,8027.0,2245,553.0,2,0,41.0,6.0,144974.55,1.0,1,1,19344.92,0,1.0,2,699.0,0.0
8027,8028.0,628,808.0,0,0,41.0,0.0,0.00,1.0,1,1,79888.78,0,3.0,1,398.0,0.0
8028,8029.0,656,706.0,0,1,34.5,5.0,0.00,1.0,0,0,164128.41,1,2.0,1,620.0,1.0
8029,8030.0,2452,638.0,1,0,38.0,1.0,127201.58,1.0,1,0,147168.28,1,2.0,2,509.0,1.0

In [58]:
x = train.drop(['ID', 'Surname','Exited'], axis=1)
y = train['Exited']

In [59]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [61]:
from sklearn.ensemble import RandomForestClassifier


def new_func():
    model = RandomForestClassifier(n_estimators=100, random_state=42)
    return model

model = new_func()
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

Evaluation

In [70]:
y_pred = model.predict(X_test)
print(f'F1 Score: {f1:.2f}')

F1 Score: 1.00

In [74]:

y_pred = model.predict(X_test)

In [75]:
test.head()

,ID,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned
0,2001,Ugonna,693,1,Male,44,5,124601.58,2,Yes,Yes,46998.13,Yes,2,3,408
1,2002,Nebeolisa,607,1,Male,29,7,102609.00,1,Yes,No,163257.44,No,5,0,800
2,2003,Tsai,689,2,Male,73,1,108555.07,1,No,Yes,167969.15,No,1,2,623
3,2004,Downie,660,0,Female,38,5,110570.78,2,Yes,No,195906.59,No,1,3,472
4,2005,Morehead,503,0,Male,38,1,0.00,2,Yes,Yes,95153.24,No,2,0,433

In [76]:
X = train.drop(columns=['Exited'])  # Fitur
y = train['Exited']  # Target

train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,Exited
0,727.0,2,0,38.0,2.0,62276.99,1.0,1,1,59280.79,0,4.0,0,757.0,0.0
1,529.0,0,1,29.0,8.0,0.00,2.0,1,1,19842.11,0,3.0,3,476.0,0.0
2,589.0,0,1,50.0,4.0,0.00,2.0,0,1,182076.97,0,4.0,2,441.0,0.0
3,515.0,0,0,40.0,0.0,109542.29,1.0,1,1,166370.81,0,5.0,1,312.0,0.0
4,528.0,2,0,43.0,7.0,97473.87,2.0,1,1,159823.16,0,3.0,2,654.0,0.0

In [77]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Complain,Satisfaction Score,Card Type,Point Earned,Exited
0,727.0,2,0,38.0,2.0,62276.99,1.0,1,1,59280.79,0,4.0,0,757.0,0.0
1,529.0,0,1,29.0,8.0,0.00,2.0,1,1,19842.11,0,3.0,3,476.0,0.0
2,589.0,0,1,50.0,4.0,0.00,2.0,0,1,182076.97,0,4.0,2,441.0,0.0
3,515.0,0,0,40.0,0.0,109542.29,1.0,1,1,166370.81,0,5.0,1,312.0,0.0
4,528.0,2,0,43.0,7.0,97473.87,2.0,1,1,159823.16,0,3.0,2,654.0,0.0

Train Test Data

In [80]:
test['Gender'] = test['Gender'].map({'Male': 0, 'Female': 1})
test['HasCrCard'] = test['HasCrCard'].map({'No': 0, 'Yes': 1})
test['IsActiveMember'] = test['IsActiveMember'].map({'No': 0, 'Yes': 1})
test['Complain'] = test['Complain'].map({'No': 0, 'Yes': 1})

In [84]:
predicction = model.predict(X_test)

predicction

array([0., 1., 0., ..., 0., 1., 0.])

In [105]:
from pandas import DataFrame

predicction = model.predict(test.drop(columns=['ID', 'Surname']))

predictions = DataFrame({
    'ID': test['ID'],
    'Exited': predicction
})

In [106]:
predictions.head()

     ID  Exited
0  2001     1.0
1  2002     0.0
2  2003     0.0
3  2004     0.0
4  2005     0.0

Save csv

In [111]:

submission = pd.read_csv('sample_submission.csv')

submission['Exited'] = predictions['Exited']

In [112]:
submission.to_csv('submission.csv', index=False)